:root {
  /* Text colors */
  --main-color: #2e2f42;
  --light-txt-color: #ffffff;
}

/* base styles */
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}
/* defoul class list */
.list {
  list-style: none;
}
/* address */
.link {
  list-style: none;
  text-decoration: none;
}
.address-link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}
.address-link:hover,
.address-link:focus {
  color: #8e8f99;
}

/* logo header*/
.accent-header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: #2e2f42;
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
}
/* Footer */
.footer {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: #2e2f42;
}
/* logo footer */
.footer-logo link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.accent-footer-logo link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
}
.footer-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
}
/* Navigation */
.navigation {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
}
.navigation-item {
  text-decoration: none;
}
.navigation-list {
  list-style: none;
}

/* Header 1 */
.hero {
  background-color: #2e2f42;
}
.section-hero {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: #404bbf;
}
/* Company advanteges */
.advanteges-list {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Header 2 */
.header-text {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
/* Header 3 */
.section-team {
  background-color: #f4f4fd;
}
.section-team-header {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.name-person {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}
.work {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Portfolio exemple work */
.exemple-work {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2e2f42;
}
.work-kind {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}
.portfolio-list {
  list-style: none;
}
/* button portfolio */
.portfolio-btn {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 4%;
  color: #4d5ae5;
  background-color: #e7e9fc;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #f4f4fd;
}

.portfolio-btn-general {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 4%;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.portfolio-btn-general:hover,
.portfolio-btn-general:focus {
  color: #404bbf;
}
